<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem-Vindo a <%= title %></h1>
    <a href="/musica/artistas">Artistas</a>
    <a href="/musica/albums">Álbuns</a>
  </body>
</html>